@page "/"

<h1>Its Christmas @eves</h1>
<hr />
<h2>There are @daysToGo sleeps left until Christmas</h2>
<marquee>merry christmas</marquee>
<hr />
<p>This is a (very) small project made in Blazor WebAssembly and C# by Finn O'Neill (Check out my <a href="https://github.com/Explorer017">GitHub Page!</a>).</p>





@code {


    public static DateTime now = DateTime.Now;

    public int nowMonth = int.Parse(now.ToString("MM"));
    public int nowDay = int.Parse(now.ToString("dd"));



    public static string label1;

    public static int daysToGo;

    public string eves;

    public static DateTime ChristmasDate;


    protected override async Task OnInitializedAsync()
    {
        if (nowMonth == 12)
        {
            if (nowDay <= 24)
            {
                ChristmasDate = new DateTime(int.Parse(now.ToString("yyyy")), 12, 25);

            }
            else
            {
                ChristmasDate = new DateTime(int.Parse(now.ToString("yyyy")) + 1, 12, 25);
            }
        }
        else
        {
            ChristmasDate = new DateTime(int.Parse(now.ToString("yyyy")), 12, 25);
        }


        TimeSpan ts = ChristmasDate.Subtract(now);
        daysToGo = ts.Days + 1;

        for (int i = 0; i < daysToGo; i++)
        {
            eves = eves + "Eve ";
        }
    }




}

