@inherits LayoutComponentBase
<!--
<div class="sidebar">
    <NavMenu />
    </div>
    -->
<style>

    div {
        background-color: #c0392b;
    }
</style>

<div class="main">
    <!--
    <div class="top-row px-4">
        <a href="https://github.com/Explorer017/XmasEveCounter" target="_blank" class="ml-md-auto">View the GitHub</a>
    </div>
       -->
    <div class="content px-4">
        @Body
    </div>
</div>
